<!-- Nav links -->
<div class="mr-auto nav-link-wrap">
  <!-- Links -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="./">
            Home
            <span class="sr-only">
              (current)
            </span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/pagearticle.html">
            Article
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Elements
          </a>
          <ul class="dropdown-menu drop-down-primary justify-content-center" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/accordion.html">Tabs and Accordion</a></li>
            <li> <a class="dropdown-item" href="/pagetypography.html">Typography</a></li>
            <li><a class="dropdown-item" href="/pagetypography2.html">Typography Demo</a></li>
            <li><a class="dropdown-item" href="/pageform.html">Forms</a></li>
            <li><a class="dropdown-item" href="/pagebutton.html">Buttons</a></li>
            <li><a class="dropdown-item" href="/pagegrid.html">Grids</a></li>
            <li> <a class="dropdown-item" href="/pageicons.html">Icons</a></li>
            <li><a class="dropdown-item" href="/pagetables.html">Tables</a></li>
            <li> <a class="dropdown-item" href="/pageprogbars.html"> Progress Bars</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Featured
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/pagesmartt.html">Smart Tiles</a>
            <a class="dropdown-item" href="/pagecarousel.html">Carousel</a>
            <a class="dropdown-item" href="/pagenewsdemo.html">News Demo</a>
            <a class="dropdown-item" href="/pageltabsnews.html">News Tabs Latest Demo</a>

            <div class="dropdown-divider">Footer</div>
            <a class="dropdown-item" href="/pagefootermin.html">Footer Center Minimal </a>
            <a class="dropdown-item" href="/pagefootermega.html">Footer Mega</a>

            <div class="dropdown-divider">Site Design</div>
            <a class="dropdown-item" href="/pagedesign.html">Color Pallete Test</a>
            <a class="dropdown-item" href="/pagedesign2.html">Bootstrap Color Test</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Extra
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/404.html">404 Error</a>
            <a class="dropdown-item" href="/comingsoon.html">Coming Soon</a>
            <a class="dropdown-item" href="/maintenance.html">Maintenance</a>
          </div>
        </li>
        <li class="nav-item dropdown mega-dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Pages
          </a>
          <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
            <!-- Mega Menu -->
            {{> megapagemenu}}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Chunks
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/pagechunks.html">Chunk Article</a>
            <a class="dropdown-item" href="/pagechunksbox.html">Chunk Box</a>
            <a class="dropdown-item" href="/pagechunkscard.html">Chunk Card</a>
            <a class="dropdown-item" href="/pagechunkstextcenter.html">Chunk Center Text</a>
            <a class="dropdown-item" href="/pagechunksection.html">Chunk Section Text</a>
            <a class="dropdown-item" href="/pagechunkjumbotron.html">Chunk Jumbotron</a>
            <a class="dropdown-item" href="/pagechunktestimonial.html">Chunk Testimonial</a>
            
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>