
<!-- Social -->
<div class="d-flex flex-row">
    <div class="p-1"><a href="https://www.facebook.com/" title="facebook" class="mr-2"><span class="fab fa-facebook fa-2x"></span></a></div>
    <div class="p-1" ><a href="#" class="mr-2"><span class="fab fa-twitter fa-2x"></span></a></div>
    <div class="p-1"><a href="#" class="mr-2"><span class="fab fa-youtube fa-2x"></span></a></div>
    <div class="p-1"><a href="#" class="mr-2"><span class="fab fa-github fa-2x"></span></a></div>
    <div class="p-1"><a href="#" class="mr-2"><span class="fab fa-discord fa-2x"></span></a></div>
    <div class="p-1"><a href="#" class="mr-2"><span class="fas fa-user fa-2x"></span></a></div>
</div>





