
{{#repeat 4}}
<div class="row">
    {{#repeat 2}}
    <div class="col-12  col-md-6">
    
        <div class="article-post  p-2 mt-4 a-color-all-1 border">
    
            <div class="article-information">
                <span class="article-type"> </span> <span class="article-date"> Febuary 12,
                    2020</span>
            </div>
            <div class="article-title ">
                <a href="pagearticleread.html"> Sports Cars That Start With M (Luxury and Expensive Cars) </a>
            </div>
            <div class="article-profile m-2">
                <div class="article-img-author d-flex flex-row">
                    <div class="article-img-wrap">
                        <a href="#"><img src="./img/img_avatar.png" alt="Avatar"> </a>
                    </div>
        
                    <div class="article-author-wrap ml-2 d-flex flex-column">
                        <div class="article-heading-author">Author</div>
                        <div class="article-name">
                            <a href="#">Ronryan Teano</a>
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="article-category mt-2 d-flex">
                <div class="ml-auto"> <a href="#"> Test </a> , <a href="#"> Another Test </a> </div>
            </div>
            <div class="article-category mt-2 d-flex">
                <div class="ml-auto"> <a href="#"> Test </a> , <a href="#"> Another Test </a> </div>
            </div>

        </div>
    </div>
    {{/repeat}}
</div>
{{/repeat}}

<div class="content-area mx-auto">
    <section class="section">
        <div class="container">
            {{> pagination}}
        </div>
        
    </section>

</div>
