<div class="nav-side bg-dark">
  
  <div class="d-flex flex-column p-3 text-white" >

    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none navbar-brand fs-4">
      <img src="img/logo.png" class="" />
      
    </a>

    <ul class="nav nav-pills flex-column mb-auto pt-3">
      
      <li class="nav-item"> <h4> CONTACT </h4> <hr>
      </li> 
     
      <li class="nav-item">
        <a href="https://www.linkedin.com/in/ronryan-tea%C3%B1o-7aa11753/" class="nav-link text-white">
          <i class="bi bi-person"></i>
          Ronryan C. Teano
        </a>
      </li>
      <li>
        <a href="tel:+639257280211" class="nav-link text-white">
          <i class="bi bi-phone"></i>
          09257280211
        </a>
      </li>
      <li>
        <a href="mailto:dupelawebsite@gmail.com" class="nav-link text-white">
        
          <i class="bi bi-envelope"></i>
          dupelawebsite@gmail.com
        </a>
      </li>
      <li>
        <a href="https://twitter.com/dupelawebsite" class="nav-link text-white">
          <i class="bi bi-twitter"></i>
          @dupelawebsite

        </a>
      </li>
      <li>
        <a href="https://github.com/rontea" class="nav-link text-white">
          <i class="bi bi-git"></i>
        rontea

        </a>
      </li>
      
    </ul>
    
    <ul class="nav nav-pills flex-column mb-auto pt-3">
      <li class="nav-item"><h4> EDUCATION </h4> <hr>
      </li> 
     
      <li class="nav-item">
        <a href="https://www.slu.edu.ph/" class="nav-link text-white">
          <strong> Information Technology </strong> <br>
          <div> Saint Louis University / Baguio City, PH </div>
        </a>
      </li>
    </ul>

    <ul class="nav nav-pills flex-column mb-auto pt-3">
      <li class="nav-item"><h4> SKILLS </h4> <hr>
      </li> 
     
      <li class="nav-item ">
        <a href="#" class="nav-link text-white">
          <strong> HTML/CSS </strong> 
          <div class="progress-bar-wrap bg-success">
            <div class="progress-bar-type bg-info  fill-x90 text-center">
                90%
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item ">
        <a href="#" class="nav-link text-white">
          <strong> SCSS </strong> 
          <div class="progress-bar-wrap bg-success">
            <div class="progress-bar-type bg-info  fill-x50 text-center">
                50%
            </div>
          </div>
        </a>
      </li>

      <li class="nav-item ">
        <a href="#" class="nav-link text-white">
          <strong> JavaScript </strong> 
          <div class="progress-bar-wrap bg-success">
            <div class="progress-bar-type bg-info  fill-x50 text-center">
                50%
            </div>
          </div>
        </a>
      </li>

      <li class="nav-item ">
        <a href="#" class="nav-link text-white">
          <strong> PHP </strong> 
          <div class="progress-bar-wrap bg-success">
            <div class="progress-bar-type bg-info  fill-x40 text-center">
                40%
            </div>
          </div>
        </a>
      </li>

      <li class="nav-item ">
        <a href="#" class="nav-link text-white">
          <strong> JAVA </strong> 
          <div class="progress-bar-wrap bg-success">
            <div class="progress-bar-type bg-info  fill-x10 text-center">
                10%
            </div>
          </div>
        </a>
      </li>

      <li class="nav-item ">
        <a href="#" class="nav-link text-white">
          <strong> C# </strong> 
          <div class="progress-bar-wrap bg-success">
            <div class="progress-bar-type bg-info  fill-x10 text-center">
                10%
            </div>
          </div>
        </a>
      </li>

      <li class="nav-item ">
        <a href="#" class="nav-link text-white">
          <strong> Database </strong> 
          <div class="progress-bar-wrap bg-success">
            <div class="progress-bar-type bg-info  fill-x40 text-center">
                40%
            </div>
          </div>
        </a>
      </li>


    </ul>
    
    <div class="nav nav-pills flex-column  mb-auto pt-3">
      <div class="nav-item"><h4> KNOWLEGBLE </h4> <hr>
      
      </div> 

    </div>

    <div class="container-fluid text-center row">
      <div class="col-lg-4">
        <strong> Drupal</strong>
        <div class="circle-wrap">
          <div class="circle">
  
            <div class="mask full fill-72">
                <div class="fill fill-72"></div>
            </div>
  
            <div class="mask half">
                <div class="fill fill-72"></div>
            </div>
  
            <div class="inside-circle text-black ">
                72%
            </div>
  
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <strong> BS5</strong>
        <div class="circle-wrap">
          <div class="circle">
    
            <div class="mask full fill-72">
                <div class="fill fill-72"></div>
            </div>
    
            <div class="mask half">
                <div class="fill fill-72"></div>
            </div>
    
            <div class="inside-circle text-black">
                72%
            </div>
    
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <strong> Wordpress</strong>
        <div class="circle-wrap">
          <div class="circle">
    
            <div class="mask full fill-72">
                <div class="fill fill-72"></div>
            </div>
    
            <div class="mask half">
                <div class="fill fill-72"></div>
            </div>
    
            <div class="inside-circle text-black">
                72%
            </div>
    
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <strong> MYSQL/Equal</strong>
        <div class="circle-wrap">
          <div class="circle">
    
            <div class="mask full fill-72">
                <div class="fill fill-72"></div>
            </div>
    
            <div class="mask half">
                <div class="fill fill-72"></div>
            </div>
    
            <div class="inside-circle text-black">
                72%
            </div>
    
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <strong> Prosgress</strong>
        <div class="circle-wrap">
          <div class="circle">
    
            <div class="mask full fill-72">
                <div class="fill fill-72"></div>
            </div>
    
            <div class="mask half">
                <div class="fill fill-72"></div>
            </div>
    
            <div class="inside-circle text-black">
                72%
            </div>
    
          </div>
        </div>
      </div>
    </div>


    
    
    
    <ul class="nav nav-pills flex-column pt-3">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
        Name
        </a>
      </li>
    </ul>



    <!-- 
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>-->
  </div>
</div>

